body {
  margin: 0;
  padding: 0;
  font-family: "Smythe", system-ui;
}

/* Header Section */
.header-title {
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  font-size: 39px;
  font-weight: lighter;
}

.header-desc-text {
  margin: 0;
  font-size: 22px;
  font-family: inherit;
}

#header-container,
#menu,
#cart {
  width: 600px;
  margin: auto;
}

.header {
  background-image: url("./image/hamburger.png");
  height: 170px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.header-text-wrapper {
  color: #fff;
  margin: 3rem;
}

/* Menu Section */

.item-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  gap: 2rem;
  margin: 2rem 0 1rem 0;
  border-bottom: 1px solid #dedede;
}

.item-header {
  font-size: 1.75rem;
  margin: 0;
}

.item-ingredients {
  font-size: 1rem;
  color: #8b8b8b;
  margin: 0.5rem 0;
}

.emoji {
  font-size: 3.5rem;
  align-content: center;
  text-align: center;
}

.button {
  width: 50px;
  height: 50px;
  border: 1px solid #dedede;
  border-radius: 50px;
  cursor: pointer;
}

.text-wrapper {
  margin-right: auto;
}

/* Cart Section */

.order-header {
  text-align: center;
  font-size: 1.75rem;
  text-transform: capitalize;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
  gap: 1rem;
}

.cart-item-wrapper {
  border-bottom: 2px solid black;
  padding: 1rem 2rem;
}

.item-quantity {
  align-content: center;
}

.total-price-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
}

.item-name,
.total-price-text {
  font-size: 1.75rem;
}

.item-quantity,
.item-price,
.item-price,
.total-price {
  font-size: 1.25rem;
}

.order-btn {
  width: 100%;
  height: 60px;
  background-color: #16db99;
  color: white;
  text-align: center;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 4px;
  margin-bottom: 2rem;
}

.remove-btn {
  border: none;
  background-color: #fff;
  color: #bbbbbb;
  margin-right: auto;
  cursor: pointer;
}
