body {
  margin: 0;
  padding: 0;
  font-family: "Smythe", system-ui;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Header Section */
.header-title {
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  font-size: 39px;
  font-weight: lighter;
}

.header-desc-text {
  margin: 0;
  font-size: 22px;
  font-family: inherit;
}

#header-container,
#menu,
#cart {
  width: 600px;
  margin: auto;
}

.header {
  background-image: url("./image/hamburger.png");
  height: 170px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.header-text-wrapper {
  color: #fff;
  margin: 3rem;
}

/* Menu Section */

.item-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  gap: 2rem;
  margin: 2rem 0 1rem 0;
  border-bottom: 1px solid #dedede;
}

.item-header {
  font-size: 1.75rem;
  margin: 0;
}

.item-ingredients {
  font-size: 1rem;
  color: #8b8b8b;
  margin: 0.5rem 0;
}

.emoji {
  font-size: 3.5rem;
  align-content: center;
  text-align: center;
}

.button {
  width: 50px;
  height: 50px;
  border: 1px solid #dedede;
  border-radius: 50px;
  cursor: pointer;
}

.text-wrapper {
  margin-right: auto;
}

/* Cart Section */

.order-header {
  text-align: center;
  font-size: 1.75rem;
  text-transform: capitalize;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
  gap: 1rem;
}

.cart-item-wrapper {
  border-bottom: 2px solid black;
  padding: 1rem 2rem;
}

.item-quantity {
  align-content: center;
}

.total-price-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
}

.item-name,
.total-price-text {
  font-size: 1.75rem;
}

.item-quantity,
.item-price,
.item-price,
.total-price {
  font-size: 1.25rem;
}

.order-btn {
  width: 100%;
  height: 60px;
  background-color: #16db99;
  color: white;
  text-align: center;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 4px;
  margin-bottom: 2rem;
}

.remove-btn {
  border: none;
  background-color: #fff;
  color: #bbbbbb;
  margin-right: auto;
  cursor: pointer;
}

/* Form Section */

.hidden {
  display: none;
}

.form-section {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
}

.form,
.processing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  width: 500px;
  height: 500px;
  background-color: #fff;
  text-align: center;
  padding: 1rem;
}

input {
  border: 1.5px solid #757575;
  border-radius: 3px;
  padding: 1.25rem;
  font-size: 1.2rem;
}

.pay-btn,
.cancel-btn {
  color: #ffffff;
  background-color: #16db99;
  border: transparent;
  border-radius: 3px;
  padding: 15px;
  font-weight: 500;
  cursor: pointer;
  font-size: 1.25rem;
}

h3 {
  margin: 0;
  font-size: 1.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.processing {
  font-size: 2rem;
  display: flex;
  justify-content: center;
}

svg {
  width: 100px;
  align-self: center;
}

.ty-div {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  background-color: #ecfdf5;
  color: #065f46;
}
